
html {
  scroll-behavior: smooth;  
}
body  {
  background-color: #121212;
  height: 5000px;
  background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 30px 30px;
  font-family: 'SUSE Mono';
}
html, body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #00f5d4;
  cursor: pointer;
  margin-top: 10px;
}
img {
  width: 70%;
  height: 70%;
  border-radius: 20px;

}

.info-title{
  white-space: nowrap;
}
.general-info-container {
  /*Background Image is Dots*/
  height: 700px;
}
.general-info-selection{
  z-index: 1;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 10px 20px 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  position: fixed;
  white-space : nowrap;
  background-color: rgba(44, 44, 44, 0.8); /* 80% visible */
  left: 0;
  top: 0;
}

.intro-container {
  padding-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 1100px;
  gap: 10%;
}

.name-intro-container h4,
.name-intro-container h1 {
  color: white;
  width: auto;
  position: relative;
  margin: 0;  
  white-space: nowrap; /* inherit is not needed */
}
.intro-container h1 {
  font-size: 70px;
}
.name-intro-container h4 {
  padding-left: 8px;
}

.img-container{
  /*Wont grow or shrink Baseline 400px*/
  flex: 0 0 400px;
  width: 400px;
  height: 400px;
  padding-top: 100px;
}
.general-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.general-title h1 {
  color: white;
  font-size: 50px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.name-intro-container h4 {
  display: inline-block;
  animation: slideIn 1s ease-out forwards;
  color: #00f5d4;
}

.name-intro-container h1 {
  position: absolute;
  /*Typing Effect*/
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid teal;  /* cursor effect */
  /* 14 = number of characters JUSTIN GONZAGA*/
    animation: typing 2s steps(14) infinite,
    blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 14ch;
  }
  60% {
    width: 14ch;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  50% { border-color: transparent; }
}

.about-container {
  display: flex;
  max-width: 100%;
  color: white;
  text-align: justify;
  padding: 20px;
  border: 1px solid teal;
  margin-bottom: 20%;
}

.education-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid teal;
  color: white;
  place-items: center;
  padding: 20px;
}

.junior-high, .senior-high, .college {
  display: grid;
  border: solid 1px white;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  place-items: center;
}
